<footer id="footer" class="hidden section">
    <div>
        <h2 id="footer-title"><%= title %></h1>
        <p>
            <a href="data-status">Data Status</a> |
            <a href ="https://github.com/fterh/thunderbird">GitHub</a>
        </p>
        <p>
            Project by Fabian Terh.
            Powered by: nodejs, Express, React, and more.
        </p>
    </div>
</footer>

<script src="/javascripts/ui-transpiled.js"></script>
<script src="/javascripts/location.js"></script>
<script src="/javascripts/storage.js"></script>
