<footer id="footer" class="section">
    <div>
        <h1 id="title"><%= title %></h1> |
        <a href="data-status">Data Status</a>
        <p>
            Project by Fabian Terh.
            Powered by: nodejs, Express, React, and more.
        </p>
    </div>
</footer>

<script src="/javascripts/ui-transpiled.js"></script>
<script src="/javascripts/location.js"></script>
