<% include partials/head %>

    <body onload="getLocation()">
        <div id="root" class="w-container">
            <img id="loading" src="/images/spinner.svg" alt="Loading" />
        </div>

        <div id="location">
            <div id="userLocationWrapper"></div>
            <select id="selectLocation" class="hidden" onchange="selectLocation(this)">
                <%- locationList %>
            </select>
        </div>

        <% include partials/footer %>
    </body>
</html>
