<% include partials/head %>

    <body onload="getLocation()">
        <h1 id="title"><%= shortTitle %></h1>
        <div id="root" class="w-container">
            loading...
        </div>

        <select id="selectLocation" onchange="selectLocation(this)">
            <%- locationList %>
        </select>

        <% include partials/footer %>
    </body>
</html>
