@import "base.css";

$red: #AB0000;
$blue: #7BB9F4;
$darkBlue: #4B8BC9;
$darkerBlue: #2B3946;
$lightGray: #EFEFEF;
$gray: #DEDEDE;
$darkGray: #696969;
$white: #ffffff;

@mixin centered-content {
    text-align: center;
    width: 400px;
}

body {
    font: 14px "Open Sans", sans-serif;
}

.monospace {
    font-family: monospace;
    border: 1px solid $gray;
    padding: 2px;
    background: $lightGray;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.block {
    display: block;
}

.inline {
    margin: 0 10px;
    display: inline;
}

.error {
    color: $red;
    font-weight: bold;
}

#loading {
    margin: 50% auto;
}

#root, #outlook {
    padding: 0 20px;
    @include centered-content
}

@media screen and (max-width: 450px) {
    #root {
        width: 90%;
    }
}

#block-2 {
    border-width: 1px 0;
    border-style: solid;
    border-color: $darkGray;
    margin: 10px 0;
    padding: 10px 0;
}

.dataItem {
    font-size: 110%;
    font-weight: 400;
}

#temp {
    color: $darkerBlue;
    font-size: 300%;
    font-weight: 600;
}

#twoH {
    font-size: 150%;
}

#outlook {
    .title {
        font-size: 120%;
        font-weight: bold;
        display: block;
    }

    .dataItem {
        .dataItemLine {
            display: block;
        }
    }
}

#location, #utilities {
    text-align: center;
    padding: 20px;
}

#userLocationWrapper {
    display: inline;
}

#selectLocation {
    margin: auto;
}

#footer {
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid $darkGray;
}

#footer-title {
    font-size: 100%;
    line-height: 100%;
    margin: 20px;
}
