@import "base.css";

$red: #AB0000;
$lightBlue: #82B7FF;
$midBlue: #4C73A8;
$blue: #2C4770;
$darkBlue: #132238;
$gray: #DEDEDE;

body {
    font: 14px "Open Sans", sans-serif;
    padding: 10px 20px;
}

#root {
    text-align: center;
    padding: 20px;
}

.error {
    color: $red;
    font-weight: bold;
}

.dataItem {
    display: block;
}

#temp, #userLocation {
    font-size: 300%;
}

#twoH, #rh, #uvIndex {
    font-size: 120%;
}

#selectLocation {
    margin: auto;
    display: block;
}

#footer {
    text-align: center;
    margin-top: 200px;
    border-top: 1px solid $gray;
}

#title {
    display: inline;
    font-size: 100%;
}
