@import "base.css";

$red: #AB0000;
$blue: #7BB9F4;
$darkBlue: #4B8BC9;
$darkerBlue: #2B3946;
$lightGray: #EFEFEF;
$gray: #DEDEDE;
$darkGray: #696969;
$white: #ffffff;

body {
    font: 14px "Open Sans", sans-serif;
    background: $blue;
}

.monospace {
    font-family: monospace;
    border: 1px solid $gray;
    padding: 2px;
    background: $lightGray;
}

#title {
    color: $darkerBlue;
    font-family: "Patua One", sans-serif;
    text-align: center;
}

#root {
    text-align: center;
    padding: 20px;
    width: 400px;
}

@media screen and (max-width: 450px) {
    #root {
        width: 90%;
    }
}

.error {
    color: $red;
    font-weight: bold;
}

.dataItem {
    color: $blue;
    font-size: 150%;
    padding: 10px;
    display: block;
    background: $darkBlue;
}

#temp {
    color: $darkerBlue;
    font-size: 300%;
    background: none;

}

#selectLocation {
    margin: auto;
    display: block;
}

#footer {
    color: $white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: $darkBlue;
}

#footer-title {
    display: inline;
    font-size: 100%;
}
